@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(
      139deg,
      #fb8817,
      #ff4b01,
      #c12127,
      #e02aff
    );
  }
  .main-gradient {
    background-image: linear-gradient(
      45deg,
      rgb(254, 81, 150),
      rgb(247, 112, 98)
    );
  }
  .input-width {
    width: 40rem;
  }
  .rotate-45 {
    transform: rotate(-45deg);
  }
  .pill-1 {
    bottom: 0;
    left: -40px;
    position: absolute;
    width: 80px;
    height: 200px;
    border-radius: 40px;
  }
  .pill-2 {
    top: -100px;
    left: -80px;
    position: absolute;
    height: 450px;
    width: 220px;
    border-radius: 200px;
    border: 30px solid #e2c5e2;
  }
  .pill-3 {
    top: -100px;
    left: 160px;
    position: absolute;
    height: 200px;
    width: 100px;
    border-radius: 70px;
  }
  .pill-4 {
    bottom: -180px;
    left: 220px;
    position: absolute;
    height: 300px;
    width: 120px;
    border-radius: 70px;
  }
}
